@charset "utf-8";
#web-mention-count {
    cursor: pointer;
    text-decoration: underline dotted;
}
#web-mention-counts, #web-mention-like, #web-mention-bookmark, #web-mention-rsvp {
    cursor: pointer;
    display: inline;
}
#web-mention-comment {
    height: 300px;
    overflow-y: scroll;
    border-top: 1px dashed;
}
.mention {
    border-radius: 1em;
    border-color: #000;
    border-style: solid; 
    border-width: 1px; 
    padding: 0.5em;
    margin: 0.5em;
}
.mention-meta a, .mention-meta img, .mention-meta span {
    vertical-align: middle;
}
.mention-url { text-decoration: none; }
.tippy-box[data-theme~="custom"] {
  background-color: #f7f7f7;
  color: black;
  border: 1px solid #ededed;
  border-radius: 0;
}
.tippy-arrow { background-color: #f7f7f7; }

